table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: left;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

thead tr {
    background-color: #f2f2f2;
}
